@import '../../values.css';

@media only screen and (max-width: 768px) {

.hamburger-container {
  position: relative;
  padding-top: 5px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 1001;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: var(--tag-text-color);
  transition: all 0.3s ease-in-out;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--tag-primary-color);
  width: 200px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px;
  border-bottom: 1px solid var(--tag-text-color);;
}

.menu li a {
  text-decoration: none;
  color: var(--tag-text-color);
}

}