.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
}

/******************************/

.sections-container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 10px; 
  padding: 100px;
}

.custom-paragraph {
  width: 600px; /* Set a specific width for the paragraph */
}

.custom-about {
  flex-direction: column; /* Arrange children vertically */
  width: 800px; /* Set a specific width for the flex container */
}


li::marker {
	color: #58dad4;
  }

.ul-modified {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	margin-left: 210px;
	padding-right: 20px;
	column-gap:50px; /* Adjust this value as needed */
  }
  
  .ul-modified::marker {
	color: #58dad4;
  }

  /********************************/

.experience-entry {
  display: grid;
  grid-template-columns: 180px auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.experience-start-year {
  font-weight: bold;
  border-right: 1px solid #444;
  padding-right: 30px;
  padding-left: 10px;
  white-space: nowrap;
}

.experience-description {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  line-height: 1.5;
  padding-left: 50px;
}


.job-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
}


.company-name {
  font-weight: bold;
  color: #444;
}


.company-names {
  display: flex;
  flex-direction: column;
}


.tech-stack {
  font-size: 0.8em;
  margin-top: 5px;
}


.break-line {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;

}

.tags {
  display: flex;
}

.tag {
  background-color: #132f4a;
  color: #58dad4;
  padding: 8px 12px; /* Adjust padding to increase size */
  margin-right: 8px; /* Increase margin if needed */
  font-size: 14px; /* Increase font size */
  border-radius: 8px; /* Adjust to control the roundness */
  white-space: nowrap;
}

.project-image {
  display: flex;
  justify-content: center;
}