.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
}

/******************************/

.sections-container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 100px;
  padding-right: 50px;
  /*background-color: lightblue;  Just for demonstration */
  padding-top: 30px;
  padding-bottom: 10px;
}

.custom-paragraph {
  width: 1000px; /* Set a specific width for the paragraph */
}

.custom-about {
  flex-direction: column; /* Arrange children vertically */
  width: 800px; /* Set a specific width for the flex container */
  padding-left: 245px;
}


li::marker {
	color: #58dad4;
  }

.ul-modified {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: left;
	margin-left: 210px;
	padding-right: 20px;
	column-gap:50px; /* Adjust this value as needed */
  }
  
  .ul-modified::marker {
	color: #58dad4;
  }

  /********************************/

.experience-entry {
  display: grid;
  grid-template-columns: 180px auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  position: relative; /* Required for positioning the hover box */
}

.experience-start-year {
  font-weight: bold;
  border-right: 2px solid #444;
  padding-right: 30px;
  padding-left: 10px;
  white-space: nowrap;
}

.experience-description {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  line-height: 1.5;
  padding-left: 50px;
}

.job-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.2em;
}

.company-name {
  font-weight: bold;
  color: #444;
}


.company-names {
  display: flex;
  flex-direction: column;
}


.tech-stack {
  font-size: 0.8em;
  margin-top: 5px;
}


.break-line {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;

}

.tags {
  display: flex;
}

.tag {
  background-color: #132f4a;
  color: #58dad4;
  padding: 8px 12px; /* Adjust padding to increase size */
  margin-right: 8px; /* Increase margin if needed */
  font-size: 14px; /* Increase font size */
  border-radius: 8px; /* Adjust to control the roundness */
  white-space: nowrap;
}

.project-image {
  display: flex;
  justify-content: center;
}

/* Hover box styles 
.experience-entry:hover::after {*/
.test:hover::after {
  content: ""; /* Required for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Covers the entire .experience-entry element */
  height: 100%; /* Covers the entire .experience-entry element */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  z-index: 1; /* Ensure the hover box is above other content */
}
