@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import '../tokens';

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--primary-color);
  color: var(--muted-text-color);
  transition: all 0.5s ease;

  .nav-footer-icons {
    position: fixed;
    bottom: 20px;
    left: 2%;
    transform: translateX(-50%);
    z-index: 1000;
    padding-left: 20px;

    a {
      display: inline-block;
      text-decoration: none;
    }

    i {
      font-size: 24px;
      margin: 0 10px;
      color: var(--muted-text-color);
      transition: color 0.3s;

      &:hover {
        color: var(--soft-text-color);
      }
    }
  }

  .burger {
    display: flex;
    justify-content: flex-end;

    img {
      padding: 25px 8px 0px 0px;
      cursor: pointer;
    }
  }

  .navbar__list {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 5px;

    .name {
      color: white;
      font-size: 25px;
    }

    .role {
      color: var(--soft-text-color);
    }

    .navbar__li {
      display: inline-block;
      padding: 0px 0px 0px 12px;
      position: relative;
      top: 2.5px;
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 38px;
      color: var(--muted-text-color);
      font-family: "Lato";
      font-weight: 400;

      &-box:first-child {
        margin-top: 53px;
      }

      &-box {
        height: 43px;
        margin-top: 15px;

        &:hover {
          border-left: 7px solid var(--soft-text-color);
          cursor: pointer;
        }
      }
    }
  }
}

@include mobile {
  .hide-on-mobile {
    display: none;
  }
}
