@import url("values.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--header-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --experience-offset: 240px;
}

/* ===============================
Layout Containers
=================================*/

.app-container {
  display: flex;
  background-color: var(--primary-color);
}

.sections-container {
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-bottom: 100px;
  align-items: flex-start;
}

/* ===============================
Shared Section Styles
=================================*/

.section,
.custom-about {
  flex: 1;
  width: 800px;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 0;
}

/* Additional padding for .section, if needed */
.section {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-right: 50px;
}

/* For aligned indentation across content blocks */
.aligned-content {
  padding-left: var(--experience-offset);
}

/* ===============================
Typography & Headings
=================================*/

.custom-paragraph,
.job-title {
  margin: 0;
  padding: 0;
}

.job-title {
  color: var(--header-color);
  font-weight: bold;
  font-size: 1.2em;
}

.link-style,
.project-link {
  color: var(--header-color);
  font-size: 1.2em;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover .project-link,
.link:hover .job-title {
  color: var(--primary-link-color);
}

/* ===============================
About Section
=================================*/

.about-inner {
  padding-left: var(--experience-offset);
}

.ul-modified {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  column-gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

li::marker,
.ul-modified::marker {
  color: var(--tag-text-color);
}

/* ===============================
Experience Section
=================================*/

.experience-entry {
  display: grid;
  grid-template-columns: 180px auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  position: relative;
}

.experience-start-year {
  font-weight: bold;
  border-right: 2px solid #444;
  padding-right: 30px;
  padding-left: 10px;
  white-space: nowrap;
  color: rgb(230, 230, 230);
}

.experience-description {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  line-height: 1.5;
  padding-left: 50px; /* Still used internally */
}

.experience-description .link {
  text-decoration: none;
}

/* ===============================
Reusable Info Table Layout
=================================*/

.table-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.table-entry > div {
  flex: 1;
}

.table-entry > div:first-child {
  width: 100px;
}

/* ===============================
Tags and Tech Stack
=================================*/

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.tag {
  background-color: var(--tag-primary-color);
  color: var(--tag-text-color);
  font-weight: bold;
  padding: 8px 12px;
  margin-right: 8px;
  font-size: 14px;
  border-radius: 8px;
  white-space: nowrap;
}

.tech-stack {
  font-size: 0.8em;
  margin-top: 5px;
}

/* ===============================
Media and Project Display
=================================*/

.project-image {
  display: flex;
  justify-content: center;
}

.break-line {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

/* ===============================
Company Info
=================================*/

.company-name {
  font-weight: bold;
  color: #444;
}

.company-names {
  display: flex;
  flex-direction: column;
}


/* Test Later 
Hover box styles 
.experience-entry:hover::after {*/
.test:hover::after {
  content: ""; /* Required for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Covers the entire .experience-entry element */
  height: 100%; /* Covers the entire .experience-entry element */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  z-index: 1; /* Ensure the hover box is above other content */
}

.link-other{
  padding-top: 10px;
  padding-left: 250px;
  display: flex;
  font-weight: bold;
  color: var(--tag-text-color);
}

.link:hover .link-other {
  color: rgb(163, 162, 162);
}


.show-more-button {
  background-color: var(--tag-primary-color);
  color: var(--tag-text-color);
  font-weight: bold;
  padding: 8px 12px; 
  margin-right: 8px; 
  font-size: 14px; 
  border-radius: 8px; 
  white-space: nowrap;
}

.show-more-button:hover {
  background-color: #0056b3;
}

/* ===============================
Mobile Responsive Adjustments
=================================*/

.show-on-mobile, .divider, .year-span {
  display: none;
}

@media only screen and (max-width: 768px) {

  .experience-start-year{
    display: none !important;;
  }

  .hide-project-image {
    display: none;
  }

  .year-span {
    display: block;
    padding-top: 1%;
  }

  .show-on-mobile {
    display: block;
    padding-bottom: 5%;
  }

  .divider {
    display: block;
    margin-bottom: 20px;
  }

  .divider h3 {
    color: var(--tag-text-color);
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
  }

  .name {
    color: white;
    font-size: 15px;
  }
  
  .role {
    color: rgb(230, 230, 230);
  }

  html, body {
    min-height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .sections-container {
    margin-left: 0 !important;
    padding: 0 !important;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .project-link-mobile {
    color: var(--header-color);
    font-size: 1em;
    font-weight: bold;
  }

  .nav-footer-icons-mobile { 
    padding: 0 32px !important;
    box-sizing: border-box; 
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .nav-footer-icons-mobile a {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5%;
  }
  
  .nav-footer-icons-mobile i {
    font-size: 24px;
    margin: 0 10px;
    color: rgb(163, 162, 162);
    transition: color 0.3s;
  }

  .custom-about {
    padding: 0 32px !important;
    box-sizing: border-box; 
    max-width: 100%;
    overflow-wrap: break-word;
  }

  .link-other{
    padding-left: 20px;
  }

  .aligned-content,
  .about-inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .experience-entry {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .experience-description,
  .project-entry,
  .project-description {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }


  .experience-description > *,
  .project-description > *{
    padding-left: 16px;
    padding-right: 16px;
  }

  .ul-modified {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .section,
  .experience-description,
  .project-entry,
  .custom-about,
  .tags,
  .nav-footer-icons-mobile {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}
